<launch>
<include file="$(find trollbot)/launch/trollin.launch"/>
<include file="$(find trollbot)/launch/roboclaw_1.launch"/>
<include file="$(find trollbot)/launch/hector_mapping.launch"/>

<include file="$(find freenect_launch)/launch/freenect.launch"/>
<include file="$(find trollbot)/launch/kinect2laser.launch"/>

<!-- LIDAR NODE--> 
<!--	<node pkg="rplidar_ros"			type="rplidarNode"	name="rplidar">
		<param name="serial_port"	type="string"	value="/dev/ttyUSB0"/>
</node>-->

<node name="throttle_cam" type="throttle" pkg="topic_tools"
    args="messages /camera/rgb/image_raw 5 /camera/rgb/throttled/image_raw"/>



  <node pkg="tf" type="static_transform_publisher" name="baselink2lidar" args="0.15 0 0 3.14159 0 0 base_link laser_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="baselink2imu" args="0.15 0 0.05 0 0 0 base_link imu 100"/>
  <node pkg="tf" type="static_transform_publisher" name="baselink2cam" args="0.15 0 0.3 0 0 0 base_link camera_link 100"/>

<!--
  <node pkg="rosflight" type="rosflight_io" name="rosflight_node">
	<param name="port" type="string" value="/dev/naze"/>
	<param name="frame_id" type="string" value="imu"/>
  </node>-->
</launch>
